/*-----Common Style---------*/
a:hover {
    color:#2158e2;
}
.pr-thumb-img tooltip tip {
    background:#2158e2;
    color:rgba(255,255,255,0.8);
}
.pr-thumb-img tooltip._top:not(._left):not(._right) tip tip-arrow {
    border-top-color:#2158e2;
}
@media (min-width: 992px) { 
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a.nav-link{
		background: #073bbf;
		background: -moz-linear-gradient(left, #073bbf 0%, #2158e2 50%, #073bbf 100%);
		background: -webkit-linear-gradient(left, #073bbf 0%,#2158e2 50%,#073bbf 100%);
		background: linear-gradient(to right, #073bbf 0%,#2158e2 50%,#073bbf 100%);
		color:#ffffff;
		opacity: 1;
	}
	
	#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a.nav-link:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a.nav-link:focus{
	background: #073bbf;
	background: -moz-linear-gradient(left, #073bbf 0%, #2158e2 50%, #073bbf 100%) !important;
	background: -webkit-linear-gradient(left, #073bbf 0%,#2158e2 50%,#073bbf 100%) !important;
	background: linear-gradient(to right, #073bbf 0%,#2158e2 50%,#073bbf 100%) !important;
	color:#ffffff !important;
    opacity: 1;
	}
	
	#mainNav.navbar-light .navbar-collapse .navbar-sidenav li a.nav-link:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li a.nav-link:focus{
	background: none !important;
	color:#283447 !important;
	background-color: rgba(40, 52, 71,0.12) !important;
    opacity:1;
	}
}

.theme-bg{
background-color:#2158e2;
}
.theme-cl{
color:#2158e2;
}
.br-theme{
	border-color:#2158e2 !important
}
.theme-btn, .theme-btn:hover, .theme-btn:focus{
	border:1px solid #2158e2 !important;
	background:#2158e2;
	color:#ffffff !important;
}
.gredient-cl{
background: #073bbf;
background: -moz-linear-gradient(left, #073bbf 0%, #2158e2 50%, #073bbf 100%);
background: -webkit-linear-gradient(left, #073bbf 0%,#2158e2 50%,#073bbf 100%);
background: linear-gradient(to right, #073bbf 0%,#2158e2 50%,#073bbf 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
text-fill-color: transparent;
}
.gredient-bg{
background: #073bbf;
background: -moz-linear-gradient(left, #073bbf 0%, #2158e2 50%, #073bbf 100%);
background: -webkit-linear-gradient(left, #073bbf 0%,#2158e2 50%,#073bbf 100%);
background: linear-gradient(to right, #073bbf 0%,#2158e2 50%,#073bbf 100%);
}
.gredient-btn, .gredient-btn:hover, .gredient-btn:focus{
color:#ffffff;
border:none;
background: #073bbf !important;
background: -moz-linear-gradient(left, #073bbf 0%, #2158e2 50%, #073bbf 100%) !important;
background: -webkit-linear-gradient(left, #073bbf 0%,#2158e2 50%,#073bbf 100%) !important;
background: linear-gradient(to right, #073bbf 0%,#2158e2 50%,#073bbf 100%) !important;
}

/*=======================================
All Element Color
======================================*/
/*--------Team---------*/
.our-team:hover, .our-team:focus {
    border-color:#2158e2;
}

/*-------- Pricing ---------*/
.pricingTable:hover {
    border: 2px solid #2158e2;
}
.pricingTable .price-value i {
    color:#2158e2;
}
.pricingTable .btn-block {
    background: #2158e2;
}
.pricingTable:hover .btn-block {
    color:#2158e2;
}

/*-------- Accordion ---------*/
.accordion-stylist .panel-title a:before, .accordion-stylist .panel-title a.collapsed:before {
    background:#2158e2;
}
.accordion-stylist .panel-title a.collapsed:before {
    background: #f2f7fb;
    color: #b7cde4;
}

/*-------- Tab ---------*/
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background:#2158e2;
}
/*-------- Ecommerce ---------*/
.uc_soft_product_box .uc_box_product .uc_product_col .uc_product_details .uc_view_cart a:hover {
    color:#2158e2;
}
/*------ Checkbox & Radio Button --------*/
.custom-checkbox input[type="checkbox"]:checked + label:before {
	border-color:#2158e2;
	background:#2158e2;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
    background:#2158e2;
}