
.page_map {
	height: 400px;
	text-align: center;
}

.page_map .marker {
	display: none;
}

.page_map.big_map {
	height: 500px;
}

@media (min-width: 992px) {
	.page_map.big_map {
		height: 820px;
	}
}

@media (min-width: 1200px) {
	.page_map.big_map {
		height: 940px;
	}
}

.page_map.height-750 {
	height: 500px;
}

@media (min-width: 992px) {
	.page_map.height-750 {
		height: 750px;
	}
}

@media (max-width: 767px) {
	.fw-map-canvas {
		height: 500px !important;
	}
}

.map_marker_description {
	max-width: 270px;
	padding: 17px 0 12px;
}

.map_marker_description h3 {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 13px;
}

.map_marker_description img {
	max-width: 90% !important;
}
